
doc/*.vsdx
doc/*.~vsdx

working/*.un~

*.o
bin/aurora*
*.swp
bin/compile_proto
.DS_Store

bin/

*.log.*

work/aurora*.INFO
work/aurora*.WARNING
work/aurora*.ERROR
work/aurora*.FATAL

work/*/aurora.INFO
work/*/aurora.WARNING
work/*/aurora.ERROR
work/*/aurora.FATAL

work/*/raft.binlog.*
x64
doc/~$grpc-issue.xlsx